.list-group > .menu-item {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.Shop-Page .card-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.Shop-Page .search-bar .form-control {
  border: 1px solid rgba(10, 88, 205, 0.226);
}
